*{

    margin:0;

    padding:0;

    box-sizing:border-box;

}

body{

    background:var(--bg);

}

.container{

    width:min(1400px,92%);

    margin:auto;

}

.section{

    padding:32px 0;

}

.grid-2{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:24px;

}

.grid-3{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:24px;

}

.grid-4{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:24px;

}